.todo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
}
h1{
    font-size: 4rem;
}
button{
    font-size: 1.7rem ;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Add-button{
    background-color: hsl(120, 22%, 55%);
}
.Add-button:hover{
    background-color: hsl(120, 22%, 45%);
}


.delete-button{
    background-color: hsl(0, 91%, 40%);
}
.delete-button:hover{
    background-color: hsl(0, 91%, 30%);
}

.move-button{
    background-color: hsl(230, 86%, 40%);
}
.move-button:hover{
    background-color: hsl(230, 86%, 30%);
}

.down-button{
    background-color: hsl(230, 86%, 40%);
}
.down-button:hover{
    background-color: hsl(230, 86%, 30%);
}

input[type = 'text']{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsl(0, 91%, 40%);
    border-radius: 5px;
    color: hsl(120, 22%, 55%);
}
*{
    background-color: beige;
}
ol{
    padding: 0;

}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid hsl(0, 91%, 40%);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text{
    flex: 1;
}

.delete-button, .move-button, .down-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}